
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    /* Not sure for the below properties they may not work properly */
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#fb-root {
    display: none !important;
}

#mypage{

    margin:0 0 0 0;
    padding:0 0 0 0;
    display: block;
}


#mykdr_nav{

    display: block;
    margin: 0;
    top: 0;
    position: absolute;
    z-index: 10000;
    width : 100%;
    background: rgba(250,250,250,0.98);
}

.mylogo{

    left: 50%;
    margin-right: -50%;
    display: inline-block;
    transform: translate(-50%);
    position: absolute;
}

#bannerdiv{
    display: block;
    overflow: hidden;
    width:100%;

    /*border-bottom: 0.3vh solid #1c1c1c;*/
}

#follow>a>i {
    color: #3b59e8 !important;
}

#mobfbshare>i, #pcfbshare>i {
    color: #3b59e8 !important;
}
#mobplusone>i, #pcplusone>i {
    color: #dd4b39 !important;
}
#mobtweet>i, #pctweet>i {
    color: #00aced !important;
}
#mobwhatsapp>i, #pcwhatsapp>i {
    color: #25d366 !important;
}
#follow>a>i:hover {
    color: #3b5998 !important;
}
#mobfbshare>i:hover, #pcfbshare>i:hover {
    color: #3b5998 !important;
}
#mobplusone>i:hover, #pcplusone>i:hover {
    color: #9d4b39 !important;
}
#mobtweet>i:hover, #pctweet>i:hover {
    color: #007c9d !important;
}
#mobwhatsapp>i:hover, #pcwhatsapp>i:hover {
    color: #257366 !important;
}

#hitweb>label {
    width: 100%;
    text-align: center;
}

.teamimg {
    display: block;
    margin: auto !important;
    width: 50%;
    height: 50%;
}

#team {
    padding: 1vh 0.5vw 1vh 0.5vw;
    display: block;
    text-align: justify;
}

#hitimage {
    margin: auto;
    display: block;
}

#language {
    padding: 0 !important;
}
#english, #malayalam {
    cursor: pointer;
    display: inline-block !important;
    font-weight: bold;
    margin: 0;
}
#english:hover,#malayalam:hover{
    color: #FF6347 !important;
}

.pagebanner{
    border-bottom: 1px solid #1c1c1c;
}

#language>a, #menulist>li>a, #connect>a, #emergency>a{
    font-family: "Tw Cen MT" ;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

#emergency>a {
    color:  rgba(240,20,50,1);
}

#menulist>li>a:hover, #language>a:hover, #connect>a:hover, #emergency>a:hover {
    text-decoration: wavy !important;

}
#menulist>li>a:active, #language>a:active, #connect>a:active, #emergency>a:hover {
    text-decoration: wavy !important;

}


#alertlang {
    display: none;
    z-index: 9999;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    color: #1c1c1c;
    background: rgba(10,200,100, 0.8);
}


#home>a, #locality>a, #culture>a, #services>a, #trending>a, #events>a, #feedback>a, #about>a, #connect>a{
    color: #1c1c1c;
    cursor: pointer;
}

#connect {
    cursor: pointer;
    border: 1px solid #1c1c1c;
    position: absolute;

}
#connect:hover {
    font-weight: bolder;
    border-color: #5e5e5e;
}
#connect:hover i{
    color: green;
}


@media(max-width: 300px){


}


@media (orientation: portrait) {

    #mykdr_nav{
        display: block;
        position: fixed;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #mykdr_menu{
        display: block;
        position: fixed;
        height: 10vh;
        clip-path: polygon(100% 0%, 100% 64%, 57% 64%, 57% 72%, 50% 100%, 43% 72%, 43% 64%, 0% 64%, 0% 0%);
        margin: 0;
        padding: 0;
        width: 100%;
        background: url("../images/navbg.jpg") !important;
        z-index: 1000;
    }
    #mykdr_menu:hover{
        background: url("../images/navbg.jpg")!important;
    }

    #menulist{
        display: none;
        position: fixed;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 10vh;
        height: 37vh;
        z-index: 999;
        background-color: rgba(004,004,004, 0.96);
    }
    /*#menulist::after {*/
        /*content: "";*/
        /*background: url("../images/menubg.jpg");*/
        /*opacity: 0.95;*/
        /*top: 0;*/
        /*left: 0;*/
        /*bottom: 0;*/
        /*right: 0;*/
        /*position: absolute;*/
        /*z-index: -1;*/
    /*}*/
    #menulist>li {
        display: inline-block;
        text-align: center;
        position: relative;
        height: 6vh;
        width: 49.3%;
        line-height: 4vh;
        font-size: 2vh;
        padding-left: 5%;
        padding-right: 5%;
    }
    #home>a, #locality>a, #culture>a, #services>a, #trending>a, #events>a, #about>a {
        margin: auto;
        position: relative;
        display: block;
        width: 100%;
        color: #f0ffff;
        border: 1px solid #f0ffff;
    }
    #home>a:hover, #locality>a:hover, #culture>a:hover, #services>a:hover, #trending>a:hover, #events>a:hover, #about>a:hover {
        color: #e0eeee;
    }
    #emergency:hover {
        color: rgba(240,20,50,0.6);
    }
    #home>a:hover{
        background-color: rgba(46, 134, 193,0.4);
    }
    #locality>a:hover{
        background-color: rgba(66, 167, 20,0.4);
    }
    #culture>a:hover{
        background-color: rgba(243, 156, 18,0.5);
    }
    #services>a:hover{
        background-color: rgba(240,60,90,0.5);
    }
    #trending>a:hover{
        background-color: rgba(0,220,246,0.5);
    }
    #events>a:hover{
        background-color: rgba(110,110,110,0.5);
    }
    #about>a:hover{
        background-color: rgba(235,235,0,0.6);
    }

    #language {
        display: inline-block;
        position: absolute;
        left: 15%;
        margin-top: 1vh;
        border-radius: 10%;
        cursor: pointer;
        border: 1px #093145 solid;
        font-size: 2.4vh;
        overflow: hidden;
        line-height: 4vh;
    }
    #english, #malayalam{
        padding: 0 1vw 0 1vw;
    }

    #connect{
        font-size: 2.4vh;
        margin-top: 1vh;
        border-radius: 10%;
        cursor: pointer;
        line-height: 4vh;
        right: 12%;
        display: inline-block;
        position: absolute;
        padding: 0 1vw 0 1vw;
    }

    .mylogo{
        display: inline-block;
        height: 7.4vh;
        position: absolute;
        margin: 0.9vh 0 0 0;
        cursor: pointer;
    }

    #emergency{
        display: inline-block;
        font-size: 4vh;
        line-height: 4.5vh;
        color: rgba(220,20,50,1);
        cursor: pointer;
        float: left;
        margin: 1.1vh 0 0 1vh;
    }
    #emergency>a>span{
        display: none;
    }
    #emergency:hover a, #emergency:active a, #mymenuglyph:hover, #mymenuglyph:active, #closenav:hover, #closenav:active{
        color: #5e5e5e;
    }

    #mymenuglyph{

        display: inline-block;
        font-size: 4vh;
        line-height: 4.5vh;
        color: #1c1c1c;
        cursor: pointer;
        float: right;
        margin: 1.1vh 1vh 0 0;
    }

    #closenav{
        display: none;
        font-size: 4vh;
        line-height: 4.5vh;
        color: #1c1c1c;
        cursor: pointer;
        float: right;
        margin: 1.1vh 1vh 0 0;
    }

    #alertlang{
        top: 75vh;
        right: 1vw;
        position: absolute;
        width: auto;
        line-height: 3vh;
        font-size: 1.8vh;
        padding: 1vh 5vw 1vh 5vw;
    }

    #theme-non-nav{
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
    }

    #non-nav{
        margin-top: 6.40vh;
        padding: 0;
        display: block;
        width: 100%;
    }

    .bannermob {

        width: 100%;
        /*height: auto;*/
        /*bottom: 0;*/
        /*overflow: hidden;*/
    }

    .pagebanner
    {
        width: 100%;
        height: auto;
    }

    #footer {
        display: block;
        height: 25vh;
        width: 100%;
        background: #050505;
        overflow: hidden;
        bottom: 0 !important;
        padding-top: 2vh;
    }
    #footer>p {
        color: snow;
        font-size: 2.1vh;
        line-height: 3vh;
        text-align: center;
        display: block;
    }
    #follow {
        display: block;
    }
    #follow>a>i {
        display: inline-block;
        font-size: 3.8vh;

    }
    #mobshare {
        margin: auto;
        height: 8vh;
        line-height: 6vh;
        padding-top: 2vh;
        border-top: 1px solid rgba(020,020,020, 0.5);
        display: block !important;
        width: 90% !important;
    }

    #mobshare>a>i {
        font-size: 4vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #pcshare, #pcshare>a, #pcshare>label {
        display: none;
    }

    #hitimage{
        width: 25vw;
    }

}


@media (orientation: landscape){

    @media (max-width: 1091px) {

        #mykdr_nav{
            display: block;
            position: fixed;
            top: 0;
            margin: 0;
            padding: 0 !important;
        }

        #mykdr_menu{
            display: block;
            position: fixed;
            height: 18vh;
            clip-path: polygon(100% 0%, 100% 62%, 54.5% 62%, 54.5% 72%, 50% 100%, 45.5% 72%, 45.5% 62%, 0% 62%, 0% 0%);
            width: 100%;
            margin: 0;
            padding: 0;
            background: url("../images/navbg.jpg") !important;
            z-index: 1000;
        }
        #mykdr_menu:hover{
            background: url("../images/navbg.jpg") !important;
        }


        #menulist{
            display: none;
            position: fixed;
            width: 100%;
            padding: 0;
            margin: 0;
            padding-top: 15vh;
            height: 60vh;
            z-index: 999;
            background-color: rgba(004,004,004, 0.96);
        }
        /*#menulist::after {*/
            /*content: "";*/
            /*background: url("../images/menubg.jpg");*/
            /*opacity: 0.95;*/
            /*top: 0;*/
            /*left: 0;*/
            /*bottom: 0;*/
            /*right: 0;*/
            /*position: absolute;*/
            /*z-index: -1;*/
        /*}*/
        #menulist>li {
            display: inline-block;
            text-align: center;
            position: relative;
            height: 10vh;
            width: 49.5%;
            line-height: 7vh;
            font-size: 2vw;
            padding-left: 10%;
            padding-right: 10%;
        }
        #home>a, #locality>a, #culture>a, #services>a, #trending>a, #events>a, #about>a{
            margin: auto;
            position: relative;
            display: block;
            width: 100%;
            color: #f0ffff;
            border: 1px solid #f0ffff;
        }
        #home>a:hover, #locality>a:hover, #culture>a:hover, #services>a:hover, #trending>a:hover, #events>a:hover, #about>a:hover {
            color: #e0eeee;
        }
        #emergency:hover {
            color: rgba(240,20,50,0.6);
        }
        #home>a:hover{
            background-color: rgba(46, 134, 193,0.4);
        }
        #locality>a:hover{
            background-color: rgba(66, 167, 20,0.4);
        }
        #culture>a:hover{
            background-color: rgba(243, 156, 18,0.5);
        }
        #services>a:hover{
            background-color: rgba(240,60,90,0.5);
        }
        #trending>a:hover{
            background-color: rgba(0,220,246,0.5);
        }
        #events>a:hover{
            background-color: rgba(110,110,110,0.5);
        }
        #about>a:hover{
            background-color: rgba(235,235,0,0.6);
        }

        .mylogo{
            position: absolute;
            display: inline-block;
            height: 13.2vh;
            margin: 1.1vh 0 0.7vh 0;
            cursor: pointer;
        }

        #language {
            display: inline-block;
            position: absolute;
            left: 15%;
            margin-top: 2vh;
            border-radius: 10%;
            cursor: pointer;
            border: 1px #093145 solid;
            font-size: 2.4vw;
            overflow: hidden;
            line-height: 6vh;
        }
        #english, #malayalam{
            padding: 0.4vh 1vw 0 1vw;
        }

        #connect{
            font-size: 2.4vw;
            margin-top: 2vh;
            border-radius: 10%;
            cursor: pointer;
            line-height: 6vh;
            right: 12%;
            display: inline-block;
            position: absolute;
            padding: 1vh 1vw 0 1vw;
            border: solid 1px #1c1c1c;
        }


        #mymenuglyph{
            display: inline-block;
            font-size: 4vw;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            margin: 1vh 2vh 0 0;
        }

        #closenav{
            display: none;
            font-size: 4vw;
            color: #1c1c1c;
            cursor: pointer;
            float: right;
            margin: 1vh 2vh 0 0;
        }

        #emergency{
            display: inline-block;
            font-size: 4vw;
            color: rgba(220,20,50,1);
            cursor: pointer;
            float: left;
            margin: 1vh 0 0 2vh;
        }
        #emergency>a>span{
            display: none;
        }
        #emergency:hover a, #emergency:active a, #mymenuglyph:hover, #mymenuglyph:active, #closenav:hover, #closenav:active{
            color: #5e5e5e;
        }

        #footer {
            display: block;
            height: 40vh;
            width: 100%;
            background: #050505;  /* fallback for old browsers */
            overflow: hidden;
            bottom: 0 !important;
            padding-top: 1.5vh;
        }
        #footer>p {
            color: snow;
            font-size: 3.5vh;
            line-height: 5vh;
            text-align: center;
            display: block;
        }
        #follow {
            display: inline-block;
            float: right;
        }
        #follow>a>i {
            display: inline-block;
            font-size: 7vh;

        }
        #mobshare {
            height: 10vh;
            width: 100% !important;
        }
        #mobshare>a {
            line-height: 10vh;
            padding-top: 6vh;
        }

        #mobshare>a>i {
            font-size: 8vh;
            padding-left: 8vw;
            padding-right: 8vw;
        }
        #pcshare, #pcshare>a, #pcshare>label {
            display: none;
        }

        #alertlang{
            top: 75vh;
            line-height: 6vh;
            font-size: 2vw;
            right: 1vw;
            position: absolute;
            padding: 1vh 5vw 1vh 5vw;
            width: auto;
        }

        #theme-non-nav{
            margin: 0;
            padding: 0;
            display: block;
        }

        #non-nav{
            margin-top: 11.16vh;
            padding: 0;
            display: block;
        }

        .bannerpc {

            width: 100vw;

        }

        .pagebanner
        {
            width: 100%;
            height: auto;
        }

        @media (min-aspect-ratio: 15/10) {

            /*.bannerpc {
                height: 100vh !important;
            }*/
        }

    }



    @media (min-width: 1091px) {

        #emergency:hover {
            background-color:  rgba(240,20,60,0.9);
            /*border-radius: 5%;*/
        }
        #emergency:hover a{
            color: #fafafa;
        }

        #mykdr_nav{
            display: block;
            position: fixed;
            height: 9vh;
            clip-path: polygon(100% 0%, 100% 58%, 96% 58%, 52.5% 58%, 52.5% 68%, 50% 100%, 47.5% 68%, 47.5% 58%, 4% 58%, 0% 58%, 0% 0%);
            background: url("../images/navbg.jpg") !important;
        }

        /*#mykdr_nav:after {*/
            /*content: "";*/
            /*display: block;*/
            /*position: relative;*/
            /*height: 100%;*/
            /*z-index: -1;*/
            /*clip-path: polygon(50% 0%, 52.5% 30%, 52.5% 70%, 50% 100%, 47.5% 70%, 47.5% 30%, 50% 0%);*/
            /*cursor: pointer;*/
            /*!*background: rgba(255,0,0,0.1);*!*/
        /*}*/

        #non-nav{
            margin-top: 5.22vh;
            padding: 0;
            display: block;
        }

        #theme-non-nav{
            margin: 0;
            padding: 0;
            display: block;
        }

        .mylogo{
            height: 7vh;
            margin-top: 0.5vh;
        }

        #mykdr_menu{
            margin: 0 0 0 0;
            padding: 0;
            line-height: 5vh;
            height: 5vh;
            display: inline-block;
        }

        #menulist{
            margin: 0 0 0 0;
            padding: 0;
            line-height: 5vh;
            height: 5vh;
            display: inline-block;
        }
        #menulist>li{
            display: inline-block;
            position: absolute;
            padding-top: 0.3vh;
            width: 9vw;
            text-align: center;
        }
        #menulist>li>a{
            font-size: 1vw;
        }
        #emergency{
            left: 0;
        }
        #home{
            left: 9%;
        }
        #locality{
            left: 18%;
        }
        #culture{
            left: 27%;
        }
        #services{
            right: 27%;
        }
        #trending{
            right: 18%;
        }
        #events{
            right: 9%;
        }
        #about{
            right: 0;
        }
        /*#home:hover{*/
            /*border-bottom: 3px solid rgba(25,25,112,1);*/
        /*}*/
        /*#locality:hover{*/
            /*border-bottom: 3px solid rgba(14,119,14,1);*/
        /*}*/
        /*#culture:hover{*/
            /*border-bottom: 3px solid rgba(180,155,0,1);*/
        /*}*/
        /*#services:hover{*/
            /*border-bottom: 3px solid rgba(240,60,90,1);*/
        /*}*/
        /*#trending:hover{*/
            /*border-bottom: 3px solid rgba(0,140,104,1);*/
        /*}*/
        /*#events:hover{*/
            /*border-bottom: 3px solid rgba(65,65,65,1);*/
        /*}*/
        /*#about:hover{*/
            /*border-bottom: 3px solid rgba(0,161,215,1);*/
        /*}*/
        #home:hover>a, #locality:hover>a, #culture:hover>a, #services:hover>a, #trending:hover>a, #events:hover>a, #feedback:hover>a, #about:hover>a {
        color: #5a5a5a;
        }

        /*#home,#locality,#culture,#services,#trending,#events,#feedback,#about {  }*/

        #emergency{
            display: inline-block;
            position: absolute;
            padding-top: 0.3vh;
            width: 9vw;
            text-align: center;
        }
        #emergency>a{
            font-size: 1vw;
        }
        #emergency>a>i{
            display: none;
        }

        #language{
            font-size: 1vw;
            margin-top: 0.9vh;
            border-radius: 10%;
            cursor: pointer;
            border: 1px #093145 solid;
            line-height: 3.2vh;
            left: 38%;
            display: inline-block;
            position: absolute;
            margin-left: 1vw;
        }
        #english, #malayalam {
            padding: 0 1vh 0 1vh;
        }

        #connect{
            font-size: 1vw;
            margin-top: 0.9vh;
            border-radius: 10%;
            cursor: pointer;
            line-height: 3.2vh;
            left: 54%;
            display: inline-block;
            position: absolute;
            margin-left: 1.5vw ;
            padding: 0 1vw 0 1vw;
            border: solid 1px #1c1c1c;
        }

        .bannerpc{
            width: 100%;
            height: auto;

        }

        #mymenuglyph{

            display: none;
        }

        #closenav {

            display: none!important;
        }

        #footer {
            display: block;
            height: 25vh;
            width: 100%;
            background: #050505;
            overflow: hidden;
            bottom: 0 !important;
            padding-top: 2vh;
        }

        #footer > p {
            color: snow;
            font-size: 1.8vh;
            text-align: center;
            display: block;
        }

        #pcshare > label {
            display: block;
            text-align: center;
            font-weight: normal;
        }

        #pcshare > a {
            padding: 1vh;
            display: inline-block;

        }

        #pcshare > a > i {
            font-size: 4vh !important;

        }

        #follow {
            margin-left: 20vw;
            display: inline-block;
        }

        #pcshare, #visits {
            display: block;
            text-align: center;;
            /*text-align: center;*/
            /*float: right;*/
        }

        #copyright {
            display: block;
            margin-top: 1vh;
            line-height: 3vh;
            /*float: left;*/
        }

        #mobshare {
            display: none;
        }

        #mobshare > a {
            display: none;
        }

        #alertlang{
            line-height: 6vh;
            font-size: 2vw;
            right: 1vw;
            top: 75vh;
            position: absolute;
            padding: 1vh 5vw 1vh 5vw;
        }

        .pagebanner
        {
            width: 100%;
            height: auto;
        }

    }
}