
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}} /></img></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="changetoeng()" id="english">{{dataSelected.mainData.menu.english}}</a>
                    <a ng-click="changetomal()" id="malayalam">{{dataSelected.mainData.menu.malayalam}}</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home">{{dataSelected.mainData.menu.home}}</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality">{{dataSelected.mainData.menu.locality}}</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture">{{dataSelected.mainData.menu.culture}}</a></li>
                <li ng-click="menuload()" id="services"><a href="#services">{{dataSelected.mainData.menu.services}}</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending">{{dataSelected.mainData.menu.trending}}</a></li>
                <li ng-click="menuload()" id="events"><a href="#events">{{dataSelected.mainData.menu.events}}</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback">{{dataSelected.mainData.menu.feedback}}</a></li>
                <li ng-click="menuload()" id="about"><a href="#about">{{dataSelected.mainData.menu.about}}</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <div id="alertlang" class="alert label-info" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            Selected Language: <strong>{{myLang}}</strong>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="localityController">

        <img class="pagebanner" src="{{dataSelected.locality.institutions.list.vidyadhirajaschool.coverpic}}" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="firstline">
                    <div id="lastupdated">
                        <p>{{dataSelected.mainData.pagetop.updated}}</p>
                        <p>{{dataSelected.mainData.general.lastupdated}}</p>
                    </div>
                    <div class="fb-like fb-like1" data-href="http://www.mykoduvayur.in/" data-width="300" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like2" data-href="http://www.mykoduvayur.in/" data-width="280" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like3" data-href="http://www.mykoduvayur.in/" data-width="310" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>

                <!--<p><br /></p>-->

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none">{{dataSelected.locality.institutions.list.vidyadhirajaschool.title}}</h1>
                </div>

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.locality.institutions.list.vidyadhirajaschool.location.title}}</h1>
                    <!--<p><br /></p>-->
                    <p>{{dataSelected.locality.institutions.list.vidyadhirajaschool.location.info}}</p>
                    <div style="display: none" id="kdrmap"></div>
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.locality.institutions.list.vidyadhirajaschool.details.title}}</h1>
                    <!--<p><br /></p>-->
                    <div ng-repeat="item in dataSelected.locality.institutions.list.vidyadhirajaschool.details.info">
                        <div ng-repeat="listitem in item">
                            <li> {{listitem}}</li>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.locality.institutions.list.vidyadhirajaschool.special.title}}</h1>
                    <!--<p><br /></p>-->
                    <div ng-repeat="item in dataSelected.locality.institutions.list.vidyadhirajaschool.special.info">
                        <li>{{item.a}}</li>
                    </div>
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.locality.institutions.list.vidyadhirajaschool.contact.title}}</h1>
                    <!--<p><br /></p>-->
                    <div ng-repeat="item in dataSelected.locality.institutions.list.vidyadhirajaschool.contact.info">
                        <li>{{item.a}}</li>
                    </div>
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.locality.institutions.list.vidyadhirajaschool.about.title}}</h1>
                    <!--<p><br /></p>-->
                    <p>{{dataSelected.locality.institutions.list.vidyadhirajaschool.about.info}}</p>
                </div>

                <div class="col-md-12">
                    <h1> {{dataSelected.culture.festivals.list.example.gallery.title}}</h1>
                    <!--<p><br /></p>-->
                    <p>{{dataSelected.culture.festivals.list.example.gallery.info}}</p>
                </div>

                <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        <!--<p id="follow">Follow Us On:-->
        <!--<a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>-->
        <!--</p>-->

        <p id="pcshare">
            <label>{{dataSelected.mainData.footer.share}}</label>
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

        <p id="visits">{{dataSelected.mainData.footer.visits}}</p>
        <a href="#" target="_blank">
            <img id="hitimage" src="http://hitwebcounter.com/counter/counter.php?page=6902850&style=0036&nbdigits=6&type=page&initCount=5196" title="Visits" Alt="website hits" border="0" >
        </a>

    </div>

</div>


