
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}} /></img></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="changetoeng()" id="english">{{dataSelected.mainData.menu.english}}</a>
                    <a ng-click="changetomal()" id="malayalam">{{dataSelected.mainData.menu.malayalam}}</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home">{{dataSelected.mainData.menu.home}}</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality">{{dataSelected.mainData.menu.locality}}</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture">{{dataSelected.mainData.menu.culture}}</a></li>
                <li ng-click="menuload()" id="services"><a href="#services">{{dataSelected.mainData.menu.services}}</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending">{{dataSelected.mainData.menu.trending}}</a></li>
                <li ng-click="menuload()" id="events"><a href="#events">{{dataSelected.mainData.menu.events}}</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback">{{dataSelected.mainData.menu.feedback}}</a></li>
                <li ng-click="menuload()" id="about"><a href="#about">{{dataSelected.mainData.menu.about}}</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <div id="alertlang" class="alert label-info" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            <strong>ENGLISH ONLY</strong>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="aboutController">

        <img class="pagebanner" src="./images/covers/team.jpg" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="firstline">
                    <div id="lastupdated">
                        <p>{{dataSelected.mainData.pagetop.updated}}</p>
                        <p>{{dataSelected.mainData.general.lastupdated}}</p>
                    </div>
                    <div class="fb-like fb-like1" data-href="http://www.mykoduvayur.in/" data-width="300" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like2" data-href="http://www.mykoduvayur.in/" data-width="280" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like3" data-href="http://www.mykoduvayur.in/" data-width="310" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

                <div class="col-md-12" id="intro">
                    <h1>HELLO WORLD !<i class="fa fa-terminal"></i></h1>
                    <p>We are a gathering of passionate individuals ready to conjure things creatively and sweat it out to make them happen. We focus upon the contemporary technologies and provide state of the art <b>Web Solutions</b> for the needs of customers using our expertise. We Deliver Quality Websites with:</p>
                    <ul>
                        <li>Simple UI and Professional Designs</li>
                        <li>Easy and User Friendly Navigation</li>
                        <li>Fast Page Loading</li>
                        <li>Fresh Content</li>
                        <li>Full Responsiveness to different Media</li>
                        <li>Multiple Browser Compatibility</li>
                        <li>SEO(Search Engine Optimisation)</li>
                    </ul>
                    <div id="desc" class="col-md-12">
                        <p><b>We believe in Actions Before Words. What We Are will be Weighed Upon What We Do.</b></p>
                        <p>So we Introduce ourselves to the World with this website, about our Hometown - <a href="#">www.mykoduvayur.in</a></p>
                        <p>We Believe in our Skills, Passion and Efforts. And we wanted a name that reflects our Belief.</p>
                        <p>And that is exactly what <b>Team BehindBrains</b> stands for.</p>
                        <div class=" col-md-12 well"><b>"..The Brains Behind Brilliance.."</b></div>
                    </div>
                </div>

                <div class="col-md-12" id="motto">
                    <h1>OUR VISION<i class="glyphicon glyphicon-eye-open"></i></h1>
                    <p>Our vision is our motto, which is a simple representation of what we intend to do.</p>
                    <p><b>Contrive . Fabricate . Deliver</b></p>
                    <ul>
                        <li>
                            <b>Contrive / kənˈtrʌɪv</b>
                            <p>To create or bring about something by deliberate use of skill, artifice and creativity.</p>
                        </li>
                        <li>
                            <b>Fabricate / ˈfabrɪkeɪt</b>
                            <p>To construct or manufacture something based on a formulated plan using prepared components.</p>
                        </li>
                        <li>
                            <b>Deliver  / dɪˈlɪvə</b>
                            <p>To perform, complete or achieve something as promised.</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

                <div class="col-md-12" id="team">
                    <h1>OUR TEAM<i class="fa fa-hand-paper-o"></i></h1>
                    <div class="col-md-3">
                        <img class="teamimg" src="./images/team/rd.png"></img>
                        <br />
                        <label>Rahul Das</label>
                        <li>Chief Designer</li>
                        <br />
                        <p>A professional designer with an innovative mind, and ever passionate about his works, friends and his homeplace. His works speak on his talent and creativity. Came up with all his support about this idea and worked overtime for the same. The logos, banners, cover pics etc of MyKoduvayur, all from the works of RD..  </p>
                    </div>

                    <div class="col-md-3">
                        <img class="teamimg" src="./images/team/am.png"></img>
                        <br />
                        <label>Aravind Mohan</label>
                        <li>Photography</li>
                        <br />
                        <p>First of all, he doesnt need a Selfie stick to take a selfie. But thats not why he is in. An ever active and socially commited guy passionate in whatever he does, with a creative mind, sheer adventure and incredible angles, makes him our go-to photographer and much more. Always ready for whatever he is called for, with a smiling face, willing mind and quality input.</p>
                    </div>

                    <div class="col-md-3">
                        <img class="teamimg" src="./images/team/ks.png"></img>
                        <br />
                        <label>Kumar Shastri</label>
                        <li>Public Relations</li>
                        <li>Marketing Head</li>
                        <br />
                        <p>One of the most familiar faces of Koduvayur. Active in multiple fields of expertise, socially commited with a calculative mind. Conversations, negotiations, marketing and organising events - he does it all with ridiculous ease. A must have guy on any team.</p>
                    </div>

                    <div class="col-md-3">
                        <img class="teamimg" src="./images/team/kr.png"></img>
                        <br />
                        <label>Krishnan Kr</label>
                        <li>Founder</li>
                        <li>Web Development</li>
                        <li>Scripts</li>
                        <br />
                        <p>A pursuing Web Designer/Developer who wanted to tell the world about his village and give something good to its people. Came up with the idea. Made up a plan.  And with the right support from the team, friends and elders, worked to make it happen. </p>
                    </div>
                </div>

                <div class="col-md-12" id="contactus">
                    <h1>CONTACT US<i class="fa fa-envelope"></i></h1>
                    <p>For anyone who wishes to contact us: </p>
                    <li>Our <a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><b>Facebook Page</b></a>.</li>
                    <li>Our e-mail : <b>mykoduvayur@gmail.com</b>.</li>
                    <li>Phone Number: <b>+919400653709</b></li>
                </div>

                <div class="col-md-12" id="hitweb">

                    <h1>WEBSITE VISITS<i class="fa fa-bar-chart-o"></i></h1>
                    <!-- hitwebcounter Code START -->
                    <label>This Website has been visited </label>
                    <a target="_blank">
                        <img id="hitimage" src="http://hitwebcounter.com/counter/counter.php?page=6746616&style=0025&nbdigits=8&type=page&initCount=4152" title="Website hits" Alt="No. of Visits"  border="0" >
                    </a>
                    <label>times</label>
                    </a>
                </div>

            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

        </div>

    </div>



    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        <!--<p id="follow">Follow Us On:-->
        <!--<a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>-->
        <!--</p>-->

        <p id="pcshare">
            <label>{{dataSelected.mainData.footer.share}}</label>
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

    </div>

</div>
