
<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav" ng-controller="mainController">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}} /></img></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="changetoeng()" id="english">{{dataSelected.mainData.menu.english}}</a>
                    <a ng-click="changetomal()" id="malayalam">{{dataSelected.mainData.menu.malayalam}}</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home">{{dataSelected.mainData.menu.home}}</a></li>
                <li ng-click="menuload()" id="locality"><a href="#locality">{{dataSelected.mainData.menu.locality}}</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture">{{dataSelected.mainData.menu.culture}}</a></li>
                <li ng-click="menuload()" id="services"><a href="#services">{{dataSelected.mainData.menu.services}}</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending">{{dataSelected.mainData.menu.trending}}</a></li>
                <li ng-click="menuload()" id="events"><a href="#events">{{dataSelected.mainData.menu.events}}</a></li>
                <li ng-click="menuload()" id="feedback"><a href="#feedback">{{dataSelected.mainData.menu.feedback}}</a></li>
                <li ng-click="menuload()" id="about"><a href="#about">{{dataSelected.mainData.menu.about}}</a></li>
                <li id="mobshare">
                    <a id="mobfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
                    <a id="mobplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
                    <a id="mobtweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
                    <a id="mobwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <div id="alertlang" class="alert label-info" role="alert">
            <a href="" class="close" aria-label="close" ng-click="alertClose()">×</a>
            Selected Language: <strong>{{myLang}}</strong>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="cultureController">

        <img class="pagebanner" src="./images/covers/culture.jpg" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12" id="firstline">
                    <div id="lastupdated">
                        <p>{{dataSelected.mainData.pagetop.updated}}</p>
                        <p>{{dataSelected.mainData.general.lastupdated}}</p>
                    </div>
                    <div class="fb-like fb-like1" data-href="http://www.mykoduvayur.in/" data-width="300" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like2" data-href="http://www.mykoduvayur.in/" data-width="280" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    <div class="fb-like fb-like3" data-href="http://www.mykoduvayur.in/" data-width="310" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>

                <div class="col-md-12" id="adslot1_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

                <div class="col-md-12" id="intro">
                    <h1> {{dataSelected.culture.intro.title}}<i class="fa fa-pencil-square-o"></i></h1>
                    <p>{{dataSelected.culture.intro.para1}}</p>
                </div>

                <div class="col-md-12" id="religious">
                    <h1> {{dataSelected.culture.worship.title}}<i class="glyphicon glyphicon-bell"></i></i></h1>

                    <div class="col-md-4 panelcol panel panel-default">
                        <div class="col-md-12 panel-body panelcontent">
                            <img src="./images/thumbs/hindu.png" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#temples" class="panel-footer panelname">{{dataSelected.culture.worship.temples.title}}</div>
                    </div>
                    <div id="temples" class="col-md-12 collapse">
                        <div class="label-warning categoryhead">{{dataSelected.culture.worship.temples.subtitle}}</div>


                        <a href="#krishnankovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.krishnankovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.krishnankovil.title}}</div>
                            </div>
                        </a>

                        <a href="#ganapathikovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.ganapathikovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.ganapathikovil.title}}</div>
                            </div>
                        </a>

                        <a href="#sivankovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.sivankovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.sivankovil.title}}</div>
                            </div>
                        </a>

                        <a href="#keralathappankovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.keralathappankovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.keralathappankovil.title}}</div>
                            </div>
                        </a>

                        <a href="#mariyammankovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.mariyammankovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.mariyammankovil.title}}</div>
                            </div>
                        </a>

                        <a href="#kurukkulamtemple">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kurukkulamtemple.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kurukkulamtemple.title}}</div>
                            </div>
                        </a>

                        <a href="#kolodetemple">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kolodetemple.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kolodetemple.title}}</div>
                            </div>
                        </a>

                        <a href="#kakkayursivankovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kakkayursivankovil.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kakkayursivankovil.title}}</div>
                            </div>
                        </a>

                        <a href="#kottamala">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kottamala.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kottamala.title}}</div>
                            </div>
                        </a>

                        <a href="#kottakovil">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kottamala.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kottamala.title}}</div>
                            </div>
                        </a>

                        <a href="#altharaganapathy">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.altharaganapathy.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.altharaganapathy.title}}</div>
                            </div>
                        </a>

                        <a href="#kizhakkethara">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.kizhakkethara.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.kizhakkethara.title}}</div>
                            </div>
                        </a>

                        <a href="#maruthikavu">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.maruthikavu.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.maruthikavu.title}}</div>
                            </div>
                        </a>

                        <a href="#koymarpadam">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.koymarpadam.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.koymarpadam.title}}</div>
                            </div>
                        </a>

                        <a href="#mandathbhagavathy">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.mandathbhagavathy.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.mandathbhagavathy.title}}</div>
                            </div>
                        </a>

                        <a href="#nochurbhagavathy">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.nochurbhagavathy.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.nochurbhagavathy.title}}</div>
                            </div>
                        </a>

                        <a href="#nochurkrishnatemple">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.ramapuramtemple.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.ramapuramtemple.title}}</div>
                            </div>
                        </a>

                        <a href="#ramapuramtemple">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.nochurkrishnatemple.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.nochurkrishnatemple.title}}</div>
                            </div>
                        </a>

                        <a href="#uchimahaliyammantemple">
                            <div class="col-md-3 panelcol panel panel-default">
                                <div class="panel-body panelcontent">
                                    <img src="{{dataSelected.culture.worship.temples.list.uchimahaliyammantemple.thumb}}" class="panelimg" alt="test"></img>
                                </div>
                                <div class="panel-footer panelname">{{dataSelected.culture.worship.temples.list.uchimahaliyammantemple.title}}</div>
                            </div>
                        </a>

                    </div>

                    <div class="col-md-4 panelcol panel panel-default">
                        <div class="col-md-12 panel-body panelcontent">
                            <img src="./images/thumbs/islam.png" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#mosques" class="panel-footer panelname">{{dataSelected.culture.worship.mosques.title}}</div>
                    </div>
                    <div id="mosques" class="col-md-12 collapse">
                        <div class="label-success categoryhead">{{dataSelected.culture.worship.mosques.subtitle}}</div>
                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>
                    </div>

                    <div class="col-md-4 panelcol panel panel-default">
                        <div class="col-md-12 panel-body panelcontent">
                            <img src="./images/thumbs/christ.png" class="panelimg" alt="test"></img>
                        </div>
                        <div data-toggle="collapse" data-target="#churches" class="panel-footer panelname">{{dataSelected.culture.worship.church.title}}</div>
                    </div>
                    <div id="churches" class="col-md-12 collapse">
                        <div class="label-info categoryhead">{{dataSelected.culture.worship.church.subtitle}}</div>
                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>

                        <div class="col-md-3 panelcol panel panel-default">
                            <div class="panel-body panelcontent">
                                <img src="./images/thumbs/01.jpg" class="panelimg" alt="test"></img>
                            </div>
                            <div class="panel-footer panelname">TESTING THIS</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" id="adslot2_mob">
                    <div></div>
                    <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
                </div>

                <div class="col-md-12" id="calendar">
                    <h1> {{dataSelected.culture.festive.title}}<i class="fa fa-calendar"></i></h1>
                </div>

                <div class="col-md-12" id="festivals">
                    <h1> {{dataSelected.culture.festivals.title}}<i class="fa fa-snowflake-o"></i></h1>
                    <div class=" panel panel-default panelout">
                        <div class="panel-body">

                            <a href="#examplefestival">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#koduvayurratholsavam">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#thaipooyam">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#nochurratholsavam">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#sivarathri">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#ethanurkummati">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#kanyarkali">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#mariyammanpongal">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#aadipooram">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#ganeshothsavam">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#navarathri">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#annabhishekham">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                            <a href="#kottamaladhanupath">
                                <div class="col-md-3 panelcol panel panel-default">
                                    <div class="panel-body panelcontent">
                                        <img src="{{dataSelected.culture.festivals.list.example.thumb}}" class="panelimg" alt="test"></img>
                                    </div>
                                    <div class="panel-footer panelname">{{dataSelected.culture.festivals.list.example.title}}</div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <div></div>
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
            </div>

        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        <!--<p id="follow">Follow Us On:-->
        <!--<a href="https://www.facebook.com/MyKoduvayur-675861215918423/" ><i class="fa fa-facebook-official"></i></a>-->
        <!--</p>-->

        <p id="pcshare">
            <label>{{dataSelected.mainData.footer.share}}</label>
            <a id="pcfbshare" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mykoduvayur.in%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official"></i></a>
            <a id="pcplusone" href="https://plus.google.com/share?url=http://www.mykoduvayur.in"><i class="fa fa-google-plus-official"></i></a>
            <a id="pctweet" href="https://twitter.com/share?url=http://www.mykoduvayur.in"><i  class="fa fa-twitter"></i></a>
            <a id="pcwhatsapp" href="whatsapp://send?text=http://www.mykoduvayur.in"><i class="fa fa-whatsapp"></i></a>
        </p>

    </div>

</div>
